<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDAznomYU1mcRSYKLrEqQUDqys6x8AAD6U</string>
	<key>GCM_SENDER_ID</key>
	<string>773890554004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JongHyuckJeon.FBTest</string>
	<key>PROJECT_ID</key>
	<string>fir-test-8c3f6</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-8c3f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773890554004:ios:cde057d72cd7d9eff75c81</string>
</dict>
</plist>